
/* Reset básico para eliminar márgenes por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --fondo: #ffffff;
    --texto: #333333;
    --texto-hover: #8288be;
    --texto-titulos: #ffffff;
    --texto-titulos-secundario: #0d3155;
    --fondo-tarjeta: #0d3155;
    --color-principal: #0d3155;
    --color-acento: #ffcc00;
    --sombra: rgba(0,0,0,0.1);
    --boton-footer: rgba(255,255,255,0.2);
    --texto-footer: #8288be;
    --tag: #e0e7ff;
    --texto-tag: #0d3155;
}

body.dark-mode{
    --fondo: #121212;
    --texto: #e0e0e0;
    --texto-titulos: #ffffff;
    --texto-titulos-secundario: #ffffff;

    --fondo-tarjeta: #1e1e1e;
    --color-principal: #1e1e1e;
    --color-acento: #fbbf24;
    --sombra: rgba(0,0,0,0.7);
    --texto-footer: #ffffff;
    --tag: rgba(255,255,255,0.2);
    --texto-tag: #ffffff;
}

body{
    font-family: 'open sans', sans-serif;
    margin: 0;

    background-color: var(--fondo);
    color: var(--texto);

    transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'poppins', sans-serif;
    color: var(--texto-titulos);
}

/* --------------------- Modo PC --------------------- */

.btn-tema{
    background: none;
    border: 1px solid var(--texto-titulos);
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 15px;
    transition: transform 0.3s;
}

.btn-tema:hover{
    transform: rotate(30deg);
    background-color: var(--boton-footer)
}

/* --- Estilos del Header --- */

.header-principal{
    background-color: var(--color-principal);
    height: 80px;
    padding: 0 50px;


    display: flex; 
    justify-content: space-between; 
    align-items: center;            
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    
    /* Para que el menú se quede fijo arriba al hacer scroll (opcional) */
    position: sticky;
    top: 0;
    z-index: 1000;
    

}

/* Estilo para el nombre (Logo) */
.logo h1 {
    font-size: 1.5rem;    
    color: #ffffff;         
    font-weight: bold;
}

.logo h1:hover{
    color: var(--texto-hover);
    transition: color 0.3s ease;
}

/* --- Estilos del Menú --- */

.lista-menu {
    display: flex;        /* Pone los items de la lista uno al lado del otro */
    list-style: none;     /* Quita los puntos (bullets) de la lista */
    gap: 20px;            /* Espacio entre cada enlace */
}

.lista-menu li a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: var(--texto-titulos);           /* Color del texto */
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease; /* Suaviza el cambio de color */
}

/* Efecto al pasar el mouse por encima */
.lista-menu li a:hover {
    color: var(--texto-hover); /* Cambia a azul (similar a tu sección hero) */
}

/* --- Estilos del Hero (Bloque Azul) --- */
.contenedorhero {
    background-color: var(--color-principal); /* Azul oscuro */
    color: white;
    padding: 60px 10%; /* Espacio interno (arriba/abajo y lados) */
    
    /* FLEXBOX: Alinea texto e imagen lado a lado */
    display: flex;
    align-items: center;    /* Centra verticalmente */
    justify-content: center;
    
    gap: 50px;              /* Espacio entre el texto y la foto */
}

/* --- Estilos del Texto --- */
.hero-texto {
    max-width: 600px; /* Evita que el texto se estire demasiado */
}

.hero-texto h1 {
    font-size: 2rem;
    line-height: 1.3; /* Separación entre líneas de texto */
    font-weight: 400; /* Letra normal */
}

.hero-texto strong {
    color: var(--color-acento);   /* Un amarillo/dorado para resaltar "Ingeniero" */
    font-weight: 700;
}

/* --- Estilos de la Imagen --- */
.hero-imagen img {
    width: 250px;        /* Tamaño de la foto */
    height: 250px;       /* Misma altura para que sea cuadrada */
    object-fit: cover;   /* Evita que la foto se deforme */
    border-radius: 50%;  /* ¡Esto hace la foto redonda! */
    border: 5px solid var(--texto-titulos); /* Borde blanco elegante */
    box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Sombra para resaltar */
}


/* Menu de hamburguesa */
.menu-toggle{
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--texto-titulos);
}

/* Experiencia laboral (tarjetas) */

.seccion-experiencia{
    padding: 60px 20px;
    background-color: var(--fondo);
    text-align: center;
}

.titulo-seccion{
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--texto-titulos-secundario);
}

.contenedor-experiencia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.tarjeta{
    background-color: var(--fondo-tarjeta);
    width: 300px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px var(--sombra);
    text-align: left;
    transition: transform 0.3s ease;
    color: var(--fondo);
}

.tarjeta:hover{
    transform: translateY(-10px); /* Sube 10px al tocarla */
    box-shadow: 0 15px 30px var(--color-principal); /*Sombra más fuerte*/
}

.tarjeta h3{
    color: var(--texto-titulos);
    margin-bottom: 10px;
}

.tarjeta .fecha{
    display: block;
    color: var(--color-acento);
    font-weight: bold;
    margin-bottom: 15px;
}



/* Proyectos */

.seccion-proyectos{
    padding: 60px 20px;
    background-color: var(--fondo);
    text-align: center;

}

.contenedor-proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/*Tarjeta de Proyecto*/

.proyecto {
    background-color: var(--fondo);
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--fondo-tarjeta);
    transition: transform 0.3s ease;
    text-align: left;


}

.proyecto:hover {
    transform: translateY(-10px);
}

.imagen-proyecto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.contenido-proyecto{
    padding: 20px;
}

.contenido-proyecto h3{
    color: var(--texto-titulos-secundario);
    margin-bottom: 10px;
}

/* Etiquetas de tecnologia (Badges)*/
.tecnologias{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tag{
    background-color: var(--tag);
    color: var(--texto-tag);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

.contenido-proyecto p{
    font-size: 0.95rem;
    color: var(--texto);
    margin-bottom: 20px;
    line-height: 1.5;
}

.boton-ver{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-principal);
    color:var(--texto-titulos);
    text-decoration: none;
    border-radius: 15px;
    font-size: 0.9rem;
    transition: background 0.3s;

}


.boton-ver:hover {
    background-color: var(--color-acento);
    color: var(--fondo-tarjeta);
    font-weight: 600;
}

/*footer*/
.pie-pagina{
    background-color: var(--color-principal);
    color: var(--texto-titulos);
    padding: 80px 20px 40px;
    text-align: center;
    margin-top: 60px;
}

.contenido-footer h2{
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.contenido-footer p{
    font-size: 1.1rem;
    color: var(--texto-footer);
    margin-bottom: 40px;
}

/*Botones Footer*/
.redes-sociales{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

/*Estilo de Botones de Contacto en el Footer*/
.boton-contacto{
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.3s ease, background 0.3s;
    background-color: var(--boton-footer);
    color: var(--text);
    border: 1px solid var(--boton-footer);
}

.boton-contacto:hover{
    transform: translateY(-5px);
    background-color: var(--sombra);
    color: var(--texto-titulos);
    }

.copyright{
    font-size: 0.9rem !important;
    opacity: 0.8;
    margin-bottom: 0 !important;
    border-top: 1px solid var(--texto-footer);
    padding-top: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


/* --------------------- Modo Responsive --------------------- */

@media (max-width: 768px){
    .contenedorhero{
        flex-direction: column;

        gap: 30px;
        padding: 40px 20px;
        text-align: center;
    }

    .hero-texto h1{
        font-size: 1.5rem;
    }

    .header-principal{
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        position: relative;
    }

    .lista-menu{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--fondo);
        box-shadow: 0 5px 5px var(--sombra);

        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 30px 0;
        gap: 6px;

        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;

        transition: all 0.5s ease-in-out;
    }

    .lista-menu li{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .lista-menu li a{
        display: block;
        width: 80%;
        max-width: 300px;
        padding: 15px 0;
        text-align: center;


        color: var(--color-principal);
        font-size: 0.9rem;
        font-weight: 500;
        border-radius: 50px;
        transition: all 0.3s ease;;
    }

    .lista-menu li a:hover{
        background-color: var(--fondo-tarjeta);
        color: #f4f4f4;
    }

    .lista-menu.activo{
        max-height: 500px;
        opacity: 1;
        padding: 30px 0;
}

    .menu-toggle{
        display: block;
        margin-left: auto;
    }

    .hero-imagen img{
        width: 200px;
        height: 200px;
    }

    
}



